        /*header*/
header{ 
        width:1440px; 
        height:600px; 
        margin:auto; 
        position:relative; 
        overflow:hidden; 
        border-bottom:1px solid var(--link-color) 
}
header>h1{ 
        font-size:0px;
}

.lnb{ 
        line-height: 3rem;
}
.lnb ul{ 
        display:flex; 
        flex-direction: column; 
        justify-content:center; 
        align-items:flex-end; 
        padding: 1rem 2rem 0 0; 
}
.lnb li{
        line-height:5rem;
}
.lnb a{
        display:block;
        color:var(--link-color);
        font-size:24px;
        position:relative;
}
.lnb a>span{ 
        display:block; 
        height:2px; 
        position:relative; 
        top:-10px; 
        overflow:hidden;
}
.lnb a>span::after{ 
        content:''; 
        display:block; 
        width:100%; 
        height:3px; 
        background-color:var(--link-color); 
        position:absolute; 
        top:-3px; 
        transition:0.3s; }
.lnb a:hover>span::after{ 
        top:0;
}

        /* 헤더 문구 */
header .text{ 
        font-size:36px;
        line-height:5rem;
        color:var(--text-color05); 
        position:absolute; 
        left:5rem; 
        top:13rem; 
        font-family:GyeonggiBatang_Regular;
        transform:translateY(30px); 
        opacity:0.1; 
        animation:up 3s forwards; 
}

@keyframes up{
        100%{ opacity:1; transform:translateY(0); }
}

header .line{ 
        display:block; 
        width:60px; 
        height:1px; 
        background-color:var(--text-color01); 
        margin:5rem 0; 
}
.smallFont{ 
        font-size:28px; 
        font-family:GowunDodum-Regular; 
}
.bigBoldFont{ 
        font-size:80px; 
        font-family:GyeonggiBatang_Bold; 
        color:var(--text-color04);
        animation:shadow 5s forwards;
}

@keyframes shadow{ 
        100%{ text-shadow:0 0 6px var(--text-color02); }
}

        /* 헤더 이미지 슬라이더 */
/* 이미지 3장 더 추가, css동작, js 재점검  */
.banner>div{ 
        position:absolute; 
        top:0; 
        right:210px; 
        opacity:0;
        transform:rotate(45deg);
        transform-origin:bottom center;
        width:480px; 
        height:600px;
        z-index:-1;
}
.banner>div:nth-child(1){
        background-image:url(../images/main_01.jpg);
}
.banner>div:nth-child(2){
        background-image:url(../images/main_02.jpg);
}
.banner>div:nth-child(3){
        background-image:url(../images/main_03.jpg);
}
.banner>div.active{ 
        animation:imgAni 3s forwards;
}

@keyframes imgAni{
        0% {transform:rotate(45deg); opacity:0; }
        50% {transform:rotate(0deg); opacity:1; }
        100% {transform:rotate(-45deg); opacity:0; }
}

.number{ 
        position:absolute; 
        right:20px; 
        bottom:20px; 
        font-size:28px; 
        color:var(--link-color); 
}
.number>span:nth-child(1)::after{
        content:'';
        display:inline-block;
        width:30px;
        height:2px;
        background-color:var(--link-color);
        position:relative;
        bottom:5px;
        vertical-align:middle;
        margin:0 10px;

}


        /* 본문 */
section{ 
        width:1440px; 
        margin:auto; 
}

/* 간단한 회사+프로그램 설명 */
.content01{ 
        color:var(--text-color07);
}
.content01 .point{ 
        width:70%;
        margin:15rem auto 10rem;
        display:flex; 
        flex-direction:column; 
        align-items:center;
        gap:1rem;
        font-size:80px;
        font-family:Kdg_Medium;
}
.content01 .word01{ 
        align-self:flex-start;
}
.content01 .word02{
        align-self:flex-end;
}

.content01 .Award{ 
        width:900px;
        margin:0 auto 5rem;
}
.content01 .award{
        font-size:40px;
        border: 1px solid var(--text-color07);
        border-radius: 30px;
        text-align:center;
        margin-bottom:2.5rem;
}
.content01 p{ 
        text-align:center;
        font-size:40px;
        margin-bottom:15rem;
}

/* 달빛산책 3가지 프로그램 이미지*/
.content02{
        height:1900px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        gap:10rem;
        background-color:transparent;
        margin-bottom:3rem;
        color:var(--subBg-color);
}
.program{ 
        width:1025px;
        height:500px;
        position:relative;
}

.program01{
        background-image:url(../images/main01_sub\ 2.jpg);
        align-self:flex-start;
}
.program02{ 
        background-image:url(../images/main02_sub\ 2.jpg); 
        align-self:flex-end;
}
.program03{
        background-image:url(../images/main03_sub\ 2.jpg); 
        align-self:flex-start;
}

/* 달빛산책 3가지 프로그램 설명 */
.content02{
        margin-bottom:15rem;
}
.content02 .inner{ 
        width:500px; 
        height:430px; 
        position:absolute; 
        bottom:0;
        text-align:center;
}
.right{ 
        right:-400px;
        background:linear-gradient(-45deg, transparent 11%, var(--text-color11) 0); 
}
.left{ 
        left:-400px;
        background:linear-gradient(45deg, transparent 11%, var(--text-color11) 0); 
}
.content02 .inner span{ 
        display:block;
        width:95px;
        height:95px;
        position:absolute; 
        right:0; 
        bottom:0;
        text-align:right;
        background:linear-gradient(135deg, transparent 50%, transparent 0); 
}
.content02 .left span{
        text-align:left;
        left:0;
        background:linear-gradient(-135deg, transparent 50%, transparent 0); 
}
.content02 .inner a{ 
        display:inline-block;
        width:100%; 
        font-size:20px;
        line-height:125px;
        color:var(--text-color07);
}
.content02 .inner span:hover{
        background:linear-gradient(135deg, transparent 50%, var(--text-color06) 0); 
}
.content02 .left span:hover{
        background:linear-gradient(-135deg, transparent 50%, var(--text-color06) 0); 
}
.content02 .script{ 
        margin:auto;
}
.content02 .inner h2{ 
        font-size:56px; 
        padding:3.1rem 0 1.2rem;
}
.content02 .inner h3{ 
        font-size:26px; 
        margin-bottom:10px; 
        color:var(--text-color12);
}
.script div{ 
        font-size:24px; 
        text-align:justify;
        padding:0 2.5rem;
}
