body{
        background:
                linear-gradient(217deg, rgba(0,15,31,1) 30%, rgba(0,15,31,0) 70.71%),
                linear-gradient(-127deg, rgba(254,255,199,.8) 40%, rgba(0,255,0,0) 60.71%),
                linear-gradient(356deg, rgba(16,1,32,1) 30%, rgba(0,0,255,0) 70.71%);
}
        /*header*/
header{ 
        /* width:1440px; */
        width:100%; 
        height:600px; 
        margin:auto; 
        position:relative; 
        overflow:hidden; 
        border-bottom:1px solid var(--link-color) 
}
header>h1{ 
        font-size:0px;
}

.lnb{ 
        line-height: 3rem;
}
.lnb ul{ 
        display:flex; 
        flex-direction: column; 
        justify-content:center; 
        align-items:flex-end; 
        padding: 1rem 2rem 0 0; 
}
.lnb li{
        line-height:5rem;
}
.lnb a{
        display:block;
        color:var(--link-color);
        font-size:24px;
        position:relative;
}
.lnb a>span{ 
        display:block; 
        height:2px; 
        position:relative; 
        top:-10px; 
        overflow:hidden;
}
.lnb a>span::after{ 
        content:''; 
        display:block; 
        width:100%; 
        height:3px; 
        background-color:var(--link-color); 
        position:absolute; 
        top:-3px; 
        transition:0.3s; }
.lnb a:hover>span::after{ 
        top:0;
}

        /* 헤더 문구 */
header .text{ 
        font-size:36px;
        line-height:5rem;
        color:var(--text-color05); 
        position:absolute; 
        left:5rem; 
        top:13rem; 
        font-family:GyeonggiBatang_Regular;
        transform:translateY(30px); 
        opacity:0.1; 
        animation:up 3s forwards; 
}

@keyframes up{
        100%{ opacity:1; transform:translateY(0); }
}

header .line{ 
        display:block; 
        width:60px; 
        height:1px; 
        background-color:var(--text-color01); 
        margin:5rem 0; 
}
.smallFont{ 
        font-size:28px; 
        font-family:GowunDodum-Regular;
        display:block;
        margin-bottom:1.5rem;
}
.bigBoldFont{ 
        font-size:80px; 
        font-family:GyeonggiBatang_Bold; 
        color:var(--text-color04);
        animation:shadow 5s forwards;
}

@keyframes shadow{ 
        20% { text-shadow:none;
        }
        50% { text-shadow:
                0 0 5px var(--text-color03),
                0 0 6px rgba(234,218,205,.6),
                0 0 10px rgba(254,239,199,.6),
                0 0 20px rgba(248,215,157,.6),
                0 0 35px rgba(254,239,199,.7);
        }
        100%{ text-shadow:
                0 0 6px rgba(234,218,205,.5),
                0 0 10px rgba(254,239,199,.5),
                0 0 20px rgba(248,215,157,.5),
                0 0 35px rgba(254,239,199,.5),
                0 0 60px rgba(254,239,199,.8),
                0 0 70px rgba(254,237,205,.8),
                0 0 85px rgba(254,237,205,.8); 
        }
}

        /* 헤더 이미지 슬라이더 */
/* 이미지 3장 더 추가, css동작, js 재점검  */
.banner>div{ 
        position:absolute; 
        top:0; 
        right:120px; 
        opacity:0;
        transform:rotate(45deg);
        transform-origin:bottom center;
        width:480px; 
        height:600px;
        z-index:-1;
}
.banner>div:nth-child(1){
        background-image:url(../images/main_01.jpg);
}
.banner>div:nth-child(2){
        background-image:url(../images/main_02.jpg);
}
.banner>div:nth-child(3){
        background-image:url(../images/main_03.jpg);
}
.banner>div.active{ 
        animation:imgAni 3s forwards;
}

@keyframes imgAni{
        0% {transform:rotate(45deg); opacity:0; }
        50% {transform:rotate(0deg); opacity:1; }
        100% {transform:rotate(-45deg); opacity:0; }
}

.number{ 
        position:absolute; 
        right:20px; 
        bottom:20px; 
        font-size:28px; 
        color:var(--link-color); 
}
.number>span:nth-child(1)::after{
        content:'';
        display:inline-block;
        width:30px;
        height:2px;
        background-color:var(--link-color);
        position:relative;
        bottom:5px;
        vertical-align:middle;
        margin:0 10px;

}


        /* 본문 */
section{ 
        /* width:1440px;  */
        width:100%; 
        margin:auto; 
}

/* 간단한 회사+프로그램 설명 */
.content01{ 
        color:var(--text-color07);
}
.content01 .point{ 
        /* width:70%; */
        width:80%;
        margin:15rem auto 10rem;
        display:flex; 
        flex-direction:column; 
        align-items:center;
        gap:1rem;
        font-size:60px;
        font-family:Kdg_Medium;
}
.content01 .word01{ 
        align-self:flex-start;
}
.content01 .word02{
        align-self:flex-end;
}

.content01 .Award{ 
        width:83%;
        margin:0 auto 5rem;
}
.content01 .award{
        font-size:34px;
        border: 1px solid var(--text-color07);
        border-radius: 30px;
        text-align:center;
        margin-bottom:2.5rem;
}
.content01 p{ 
        text-align:center;
        font-size:36px;
        margin-bottom:15rem;
}

/* 달빛산책 3가지 프로그램 이미지*/
.content02{
        height:1900px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        gap:10rem;
        background-color:transparent;
        margin-bottom:3rem;
        color:var(--subBg-color);
}
.program{ 
        /* width:1025px; */
        width:80%;
        height:500px;
        position:relative;
        background-position: center center;
        background-repeat: no-repeat;
}

.program01{
        background-image:url(../images/main01_sub\ 2.jpg);
        align-self:flex-start;
}
.program02{ 
        background-image:url(../images/main02_sub\ 2.jpg); 
        align-self:flex-end;
}
.program03{
        background-image:url(../images/main03_sub\ 2.jpg); 
        align-self:flex-start;
}

/* 달빛산책 3가지 프로그램 설명 */
.content02{
        margin-bottom:15rem;
}
.program .inner{ 
        /* width:500px;  */
        width:380px; 
        /* height:430px;  */
        height:340px; 
        position:absolute; 
        bottom:-35px;
        text-align:center;
}
.right{ 
        /* right:-400px; */
        right:-175px;
        background:linear-gradient(-45deg, transparent 11%, var(--index-inner-color02) 0); 
}
.left{ 
        /* left:-400px; */
        left:-175px;
        background:linear-gradient(45deg, transparent 11%, var(--index-inner-color02) 0); 
}
.inner span{ 
        display:block;
        /* width:95px; */
        width:80px;
        /* height:95px; */
        height:80px;
        position:absolute; 
        right:0; 
        bottom:0;
        background:linear-gradient(135deg, transparent 50%, transparent 0); 
}
.left span{
        text-align:left;
        left:0;
        background:linear-gradient(-135deg, transparent 50%, transparent 0); 
}

.inner:hover span{
        background:linear-gradient(135deg, transparent 50%, var(--index-inner-color01) 0); 
}
.left:hover span{
        background:linear-gradient(-135deg, transparent 50%, var(--index-inner-color01) 0); 
}
.inner h2{
        color:var(--text-color14);
        font-size:40px; 
        padding:3.1rem 0 1.2rem;
}
.inner h3{ 
        font-size:22px; 
        margin-bottom:10px; 
        color:var(--text-color10);
}
.inner .script{ 
        margin:auto;
}
.script div{ 
        font-size:18px; 
        text-align:justify;
        padding:0 2rem;
        color:var(--text-color06);
}
