section .title{
    margin-bottom:20rem;
}
section .tableBox{ 
    /* width:1300px;  */
    width:90%; 
    margin:0 auto 7rem; 
    color:var(--text-color07);
}

.table{ 
    display:flex; 
    flex-direction:column;
    align-items:center;
    margin-bottom:20rem;
}
/* 축의 반대방향으로 center로 정렬하겠다 */

.notice{
    gap:3.5rem;
}
.borderBox{
    width:30%;
    height:100px;
    background:linear-gradient(45deg,transparent 5%, var(--index-inner-color01) 0) ;
    background-repeat:no-repeat;
    background-position:0 -8px;
    border-bottom:2px solid var(--index-inner-color01);
    text-align:center;
    color:var(--text-color06);
}
.noti::after{
    content:'구매 후 확인해주세요';
    display:block;
    font-size:26px;
    transform:translateY(10px);
    color:var(--text-color07);
}
.table h2{
    display:inline-block;
    line-height:90px;
    font-size:50px;
}


.tableBox .inner{ 
    padding:2rem 0; 
}
.inner>table{
    border-spacing:0 0.5rem;
}
/* .inner table tr:nth-child(2n+1){

} */
.inner table tr:nth-child(2n){
    background-color: var(--index-inner-color01);
    color:var(--text-color14);
    opacity:0.7;
}
.notice th{ 
    width:10rem; 
    font-size:50px;
    font-weight:normal;
    line-height:90px;
}
.notice td{ 
    width:67rem;
}
.inner td{ 
    font-size:24px;
}



.qa th{ 
    width:25rem; 
    font-size:30px;
    line-height:80px;
}
.qa td{ 
    width:53rem;
}
.qa th b{ 
    display:block; 
    height:70px;
}

.qa [colspan='2']{ 
    text-align:center; 
}
.cc .cancel{ 
    height:500px; 
}
.cc .cancel th{  
    font-size:30px; 
}
