@import url(./reset.css);
body{
        background:
            linear-gradient(217deg, rgba(0,15,31,1) 30%, rgba(0,15,31,0) 70.71%),
            linear-gradient(-127deg, rgba(254,255,199,.8) 40%, rgba(0,255,0,0) 60.71%),
            linear-gradient(356deg, rgba(16,1,32,1) 30%, rgba(0,0,255,0) 70.71%);
    }
/*header*/
header{ 
        /* width:1440px;  */
        width:90%; 
        height:150px; 
        margin:0 auto 7rem; 
        display:flex; 
        justify-content:space-between; 
}
header #logo{ 
        width:300px; 
        height:150px; 
}
header h1{ 
        font-size:0px; 
}
#logo img{ 
        padding:3rem; 
}

.lnb {
        width:600px; 
        height:150px; 
        padding:4.5rem 1.5rem; 
}
.lnb ul{
        display:flex; 
        justify-content:space-around; 
}
.lnb a{ 
        display:block; 
        color:var(--link-color); 
        font-size:24px; 
        position:relative; 
}
.lnb a>span{ 
        display:block; 
        height:3px; 
        position:relative; 
        top:3px;
        overflow:hidden; 
}
.lnb a>span::after{ 
        content:''; 
        display:block; 
        width:100%; 
        height:3px; 
        background-color:var(--link-color); 
        position:absolute; 
        top:-3px; 
        transition:0.3s;}
.lnb a:hover>span::after{ 
        top:0;
}

/*section*/
section .title{
        width:80%; 
        height:300px; 
        margin:0 auto 7rem;
        text-align: center;
        position:relative;
        /* text-align:center; */
        /* background-image:url(../images/bgImg06.jpg); */
        /* background-size:cover; */
        /* background-position:99% 30%; */
        /* background-repeat:no-repeat; */
        /* box-shadow:0 0 100px rgba(255,255,255,0.3); */
        /* 
        ,
       inset 0 0 100px rgba(255,255,255,0.3),
       inset 0 0 50px rgba(255,255,255,0.3),
       inset 0 0 50px rgba(255,255,255,0.3),
       inset 0 0 10px rgba(255,255,255,0.3); */
}

.title::after{
        content:'';
        display:block;
        width:100%;
        height:1px;
        background-color:var(--link-color);
        opacity:0.5;
        position:absolute;
        top:320px;
}
.helper{
        display:inline-block;
        height:100%;
        vertical-align:middle;
}

.title>h1{
        display:inline-block;
        vertical-align:middle;
        font-size:74px;
        font-weight:600;
        color:var(--text-color04);
        transform:translateY(30px); 
        opacity:0.1; 
        animation:up 3s forwards; 
        /* text-shadow: 0 0 80px rgba(255,255,255,.5); */
}
@keyframes up{
        100%{ opacity:1; transform:translateY(0); }
}
.moon{
        width:210px;
        height:210px;
        border-radius:100%;
        background-image:url(../images/moon.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        /* box-shadow:
                0 0 5px rgba(254,237,205,.5),
                0 0 10px rgba(255,255,255,0.3),
                0 0 25px rgba(255,255,255,0.3),
                0 0 65px rgba(255,255,255,0.3),
                0 0 90px rgba(255,255,255,0.3); */
        position:absolute;
        right:70px;
        top:60px;
        opacity:0.1; 
        animation:moonShadow 2s forwards; 
}

@keyframes moonShadow {
        100%{ 
                opacity:1; 
                right:90px; 
                top:0; 
                z-index:-1;
                box-shadow:
                        0 0 5px rgba(254,237,205,.5),
                        0 0 10px rgba(255,255,255,0.3),
                        0 0 25px rgba(255,255,255,0.3),
                        0 0 65px rgba(255,255,255,0.3),
                        0 0 90px rgba(255,255,255,0.3);
        }
}